In [4]:
import pandas as pd

import numpy as np

import os,sys

from shapely.geometry import Point, Polygon

import copy

from sklearn.cluster import KMeans

from sklearn.metrics import silhouette_score 

import matplotlib.pyplot as plt

from matplotlib.ticker import MultipleLocator, FormatStrFormatter

import time

In [18]:
def Get_Shift(Startstamp,Endstamp,Duration,Distance):
    
    '''
    Input:
    
    (1) Startstamp,
    
    (2) Endstamp,
    
    (3) Duration,
    
    (4) Distance
    
    Output:

    (1) 'The number of Orders'

    (2) 'Shift Duration (sec)'

    (3) 'Occupied Time (sec)'

    (4) 'Shift Start Time'
    
    (5) 'Shift End Time', 

    (6) 'Occupied Distance(m)'

    '''
    
    Result=list()
    
    if len(Startstamp)==1:
        
        Result.append([1,Duration[0],Duration[0],Startstamp[0],Endstamp[0],Distance[0]])
        
    else:
        
        s=0
        
        i=0
        
        j=1
        
        order_num=0
        
        occupied_duration=0
        
        occupied_distance=0
        
        while j<len(Startstamp):
            
            order_num+=1
                
            occupied_duration+=Duration[i]

            occupied_distance+=Distance[i]
            
            if Startstamp[j]-Endstamp[i]<3600*2:
                
                if j==len(Startstamp)-1:
                    
                    shift_duration=Endstamp[j]-Startstamp[s]
                    
                    order_num+=1
                
                    occupied_duration+=Duration[j]

                    occupied_distance+=Distance[j]
                    
                    Result.append([order_num,shift_duration,occupied_duration,Startstamp[s],Endstamp[j],occupied_distance])
                    
                i+=1
                
                j+=1
                
            else:
                
                shift_duration=Endstamp[i]-Startstamp[s]
                
                Result.append([order_num,shift_duration,occupied_duration,Startstamp[s],Endstamp[i],occupied_distance])
                
                order_num=0
                
                occupied_duration=0
                
                occupied_distance=0
                
                s=j
                
                i=j
                
                j+=1
                
    return Result

def explode(df, col):
    df[col] = df[col].apply(lambda x: [x] if not isinstance(x, list) else x)
    return df.drop(col, axis=1).join(
        pd.DataFrame(list(df[col])).stack().reset_index(level=1, drop=True).rename(col)
    )

## Data Initialization

In [13]:
Load_path='./Data/GAIA/'

dt='20161101'

''''''

GPS_Df=pd.read_csv(os.path.join(Load_path,'gps_'+dt+'.csv'),header=None,names=['Driver_id','Order_id',\
                                                                               'Timestamp','Longitude',\
                                                                               'Latitude'])

GPS_Df=GPS_Df.drop_duplicates(subset=['Driver_id','Order_id'])

GPS_Df=GPS_Df.reset_index(drop=True)

GPS_Df=GPS_Df[['Driver_id','Order_id']]

GPS_Df


Order_Df=pd.read_csv(os.path.join(Load_path,'order_'+dt+'.csv'),header=None,names=['Order_id','Startstamp','Endstamp',\
                                                                                   'Pickup_Longitude','Pickup_Latitude',\
                                                                                   'Dropoff_Longitude','Dropoff_Latitude'])

Get_distance=lambda lng1,lat1,lng2,lat2:int(Point(lng1,lat1).distance(Point(lng2,lat2))*111000*1.2)

Order_Df['Duration']=Order_Df.apply(lambda x:x['Endstamp']-x['Startstamp'],axis=1)

Order_Df['Distance']=Order_Df.apply(lambda x:Get_distance(x['Pickup_Longitude'],x['Pickup_Latitude'],x['Dropoff_Longitude'],x['Dropoff_Latitude']),axis=1)

Order_Df['Speed']=Order_Df.apply(lambda x:x['Distance']/x['Duration'],axis=1)

Order_Df=Order_Df[['Order_id','Startstamp','Endstamp','Duration','Distance','Speed']]


'''

The data was then cleaned by removing drivers who showed unrealistic data trends 

such as having a second trip that began prior to the conclusion of the first trip 

or having trips that were seen as outliers in terms of the distance, speed, or time traveled. 

The outliers were defined as data that is not within the middle 99\% of the data set for each of the variables.


'''

Duration_arr=np.sort(np.array(Order_Df['Duration']))

Duration_min_=Duration_arr[int(0.01 * len(Duration_arr))]
    
Duration_max_=Duration_arr[int(0.99 * len(Duration_arr))]

Distance_arr=np.sort(np.array(Order_Df['Distance']))

Distance_min_=Distance_arr[int(0.01 * len(Distance_arr))]
    
Distance_max_=Distance_arr[int(0.99 * len(Distance_arr))]

Speed_arr=np.sort(np.array(Order_Df['Speed']))

Speed_min_=Speed_arr[int(0.01 * len(Speed_arr))]

Speed_max_=Speed_arr[int(0.99 * len(Speed_arr))]



Order_Df=Order_Df.loc[(Order_Df['Duration']>=Duration_min_)&(Order_Df['Duration']<=Duration_max_)]

Order_Df=Order_Df.loc[(Order_Df['Distance']>=Distance_min_)&(Order_Df['Distance']<=Distance_max_)]

Order_Df=Order_Df.loc[(Order_Df['Speed']>=Speed_min_)&(Order_Df['Speed']<=Speed_max_)]



Order_Df

,Order_id,Startstamp,Endstamp,Duration,Distance,Speed
0,eb9dd4095d9850e6287cefd813775a6c,1477964797,1477966507,1710,7111,4.158480
1,387a742fa5a3fbe4a1f215ac58ea33a8,1477985585,1477987675,2090,23760,11.368421
2,9cf55f8e6e02a1e0f792df06e5d85011,1478004952,1478006217,1265,11883,9.393676
3,5feeae0307e15203484b9ffceef89855,1477989840,1477991065,1225,8009,6.537959
4,ad4b52cb15b90c44c8f20a8b1e57a622,1477958005,1477958577,572,5905,10.323427
5,ad551eb23b72e2a77ae5e81e22f2dbd0,1477997663,1477998786,1123,7880,7.016919
6,ad4b52cb15b90c44c8f20a8b1e57a622,1477958005,1477958577,572,5905,10.323427
7,db46d8931c1ac3f61d8278df67c2a365,1477958918,1477960167,1249,9651,7.726982
8,908e7f068da5768c492ab69dbf81efda,1477960528,1477961815,1287,7870,6.114996
9,2d48affae032a4ca29d220660732686d,1477962166,1477963634,1468,9382,6.391008
10,eb9dd4095d9850e6287cefd813775a6c,1477964797,1477966507,1710,7111,4.158480
11,1cbbba13df0a8e2bb618809b94407329,1477996654,1477997548,894,4238,4.740492
12,ad551eb23b72e2a77ae5e81e22f2dbd0,1477997663,1477998786,1123,7880,7.016919
13,e48c52d65f29db1a612d9db3c1a29dc6,1477966147,1477967477,1330,9665,7.266917
14,b793e18edef3694f417552069d5c6fc8,1477967857,1477969087,1230,7602,6.180488
15,f8f9bc3d6753a9cc89256699b15d5fe9,1477942946,1477943889,943,9297,9.858961
16,8e31f08bc942a63f53a46e149f354dfa,1478007721,1478008626,905,4533,5.008840
17,d76426af74b69efc32c3c146a43f11c0,1477961471,1477962690,1219,5115,4.196062
18,f78cfb7ef822ae67642d2952d94cdd77,1477963587,1477965143,1556,5217,3.352828
19,5c33acbf7ed4cddd9e3eadf73518661b,1477958723,1477959461,738,2944,3.989160
20,7fdaadabbed8bc1370c2b6a40e3b6f29,1477959777,1477960656,879,3328,3.786121
21,d76426af74b69efc32c3c146a43f11c0,1477961471,1477962690,1219,5115,4.196062
22,04c2c45d01c4239c6471daf34ac34313,1477944786,1477945355,569,2675,4.701230
23,815ba39849868f810421aa32e50a04d4,1478001315,1478002640,1325,10781,8.136604
24,ef8f64e5bc374dd6cf642a11068c4cdd,1478010616,1478011119,503,3373,6.705765
25,6e1ec81471248b9af71a0506032a5018,1477955865,1477958079,2214,11746,5.305330
26,bda89887f6c1c8f2f7d1bf2364a9e823,1477956823,1477957718,895,7235,8.083799
27,cc9371c1b9e53a94054820d4720eb216,1477999540,1478001053,1513,6886,4.551223
28,815ba39849868f810421aa32e50a04d4,1478001315,1478002640,1325,10781,8.136604
29,bfb529fd136838cfe557ace39b972e8a,1477960545,1477962029,1484,11772,7.932615
...,...,...,...,...,...,...
209392,0107f8ce7b354e75edb91f19b207e705,1477987385,1477988272,887,5823,6.564825
209393,96a5605c1f767150395800cfcfcf7865,1477988490,1477989467,977,4856,4.970317
209394,4a4558cd5dc3f03472febf31216f2f3b,1477986715,1477987222,507,4678,9.226824
209395,f4ef7a95e81d3a0c176f2acf1982ba14,1477991175,1477992665,1490,12980,8.711409
209396,72172437c06d14b617d94f0696b20e67,1477993304,1477996054,2750,12549,4.563273
209397,ec25207483de68bb30c6648353826247,1477960459,1477960920,461,1572,3.409978
209398,f319f331fb904e1ab309bdf8b6d36ca8,1477961113,1477962912,1799,13947,7.752640
209399,b60e45ca9d7e53c67d06f1e96a538af3,1477978570,1477979744,1174,6477,5.517036
209400,144cfeee6e603a8225bb5afeeb48d097,1477968426,1477969401,975,11147,11.432821
209401,37f34fc8a889f6d188b5b8430b7ca83f,1477982377,1477983859,1482,8796,5.935223
209402,37f34fc8a889f6d188b5b8430b7ca83f,1477982377,1477983859,1482,8796,5.935223
209403,de64df3b9b270b3628895784257b4e56,1477983346,1477986011,2665,14979,5.620638
209404,c46154955fd811ad6c03dd954ce23fa4,1477990549,1477991870,1321,8409,6.365632
209405,144cfeee6e603a8225bb5afeeb48d097,1477968426,1477969401,975,11147,11.432821
209406,c512f14a1b139fd50d573ec954fa4eae,1477969844,1477971023,1179,3051,2.587786
209407,344853e811d8e9fd30ba14f00f72bf93,1477970101,1477971881,1780,4981,2.798315
209408,3c7b2cff3b38f11a8d2308db9f5ccd78,1477937552,1477938439,887,6757,7.617813
209409,7b2fc9b9e52a38bdbfee9e4d51235307,1478006644,1478009170,2526,16520,6.539984
209410,18979630ae88364688fda492abaf95bf,1478002959,1478004582,1623,16939,10.436845
209411,7b2fc9b9e52a38bdbfee9e4d51235307,1478006644,1478009170,2526,16520,6.539984
209412,dfb274eb2a9bc1ebaaaddbd94e1d5de5,1478009737,1478010518,781,4346,5.564661
209413,8081a9c9b872129cce3eec7c21718704,1478010116,1478010890,774,5972,7.715762
209414,be89ad0f0cfa1f1f1697237c535fc0df,1478011103,1478011359,256,2135,8.339844
209415,48a3d97e3dbb21c5497688bb6ae8cccf,1478011813,1478013350,1537,7922,5.154196
209416,ef152ff77025071c5842d5fcc72dae80,1477959244,1477960978,1734,8014,4.621684
209417,c4c0bec0fd0c1db6c01e7573e5a2b2a3,1477959489,1477960083,594,2517,4.237374
209419,b0e7cd3826f12850c35658c431aefca4,1478003623,1478005640,2017,5143,2.549826
209420,bda1578c6390bf0006667d63b5199ddd,1478007320,1478009600,2280,12561,5.509211
209421,8a445f5feb059da8686f39ef0f3b316a,1478010440,1478012878,2438,22603,9.271124
209422,b0e7cd3826f12850c35658c431aefca4,1478003623,1478005640,2017,5143,2.549826

In [35]:
'''Collect the data into a list array'''

Behavior_Df=Order_Df.merge(GPS_Df,on='Order_id',how='left')

Behavior_Df=Behavior_Df.dropna()

Behavior_Df['Startstamp']=Behavior_Df['Startstamp'].astype('int32')

Behavior_Df['Endstamp']=Behavior_Df['Endstamp'].astype('int32')

Behavior_Df=Behavior_Df[['Driver_id','Order_id','Startstamp','Endstamp','Duration','Distance']]

Behavior_Df=Behavior_Df.drop_duplicates(subset=['Driver_id','Order_id'])

Behavior_Df=Behavior_Df.sort_values(by=['Driver_id','Startstamp'])

Behavior_Df=Behavior_Df.reset_index(drop=True)

Stat_Df = pd.DataFrame([])

Stat_Df['Startstamp']=Behavior_Df.groupby('Driver_id').apply(lambda x: x['Startstamp'].to_list())

Stat_Df['Endstamp']=Behavior_Df.groupby('Driver_id').apply(lambda x: x['Endstamp'].to_list())

Stat_Df['Duration']=Behavior_Df.groupby('Driver_id').apply(lambda x: x['Duration'].to_list())

Stat_Df['Distance']=Behavior_Df.groupby('Driver_id').apply(lambda x: x['Distance'].to_list())

Stat_Df['Driver_id']=Stat_Df.index

Stat_Df=Stat_Df.reset_index(drop=True)

Stat_Df=Stat_Df[['Driver_id','Startstamp','Endstamp','Duration','Distance']]

Stat_Df['Transition']=Stat_Df.apply(lambda x:Get_Shift(x['Startstamp'],x['Endstamp'],\
                                                      x['Duration'],x['Distance']),axis=1)

Stat_Df=Stat_Df[['Driver_id','Transition']]

Stat_Df=explode(Stat_Df,'Transition')


'''

(1) 'The number of Orders'

(2) 'Shift Duration (sec)'

(3) 'Occupied Time (sec)'

(4) 'Shift Start Time'

(5) 'Shift End Time', 

(6) 'Occupied Distance (m)'


'''


Cols=['The number of Orders', 'Shift Duration (sec)', 'Occupied Time (sec)', 'Shift Start Time', 'Shift End Time','Occupied Distance (m)']


for i in range(len(Cols)):
    
    Stat_Df[Cols[i]]=Stat_Df.apply(lambda x:x['Transition'][i],axis=1)
    

Stat_Df=Stat_Df[['Driver_id']+Cols]

Stat_Df['Shift']=1

Stat_Df

,Driver_id,The number of Orders,Shift Duration (sec),Occupied Time (sec),Shift Start Time,Shift End Time,Occupied Distance (m),Shift
0,0000131d486b69eb77ab6e9e7cca9f4c,2,3119,1932,1477972625,1477975744,13808,1
1,000211a97ba2b768ef941593bf1ae1a5,1,966,966,1477963781,1477964747,5897,1
1,000211a97ba2b768ef941593bf1ae1a5,4,6251,8455,1478002015,1478008266,40387,1
2,000770ada4aa5d856b5a766fb6bf7cf1,5,11649,5274,1477962292,1477973941,31479,1
3,0007a380800445346fff19afc4071ce3,1,1419,1419,1477963840,1477965259,6544,1
4,0008c9d2ac91c00ef8b3ef80eba02a06,3,4074,2729,1477967006,1477971080,19702,1
4,0008c9d2ac91c00ef8b3ef80eba02a06,2,3937,3431,1477984364,1477988301,23593,1
4,0008c9d2ac91c00ef8b3ef80eba02a06,3,10959,2406,1478005496,1478016455,18851,1
5,00095da02ea38d4d8eaa120201e38ae9,1,1522,1522,1477965144,1477966666,6060,1
6,000d0e4bd461b1f964daeb6d21868757,5,7148,5668,1477940181,1477947329,58447,1
7,000d7d7fe559c61e98d0a51e23e69bf7,4,7347,4534,1477966852,1477974199,23791,1
7,000d7d7fe559c61e98d0a51e23e69bf7,3,8999,5174,1477992548,1478001547,38524,1
8,000db06fb2f4a700c4105348643f593e,1,1161,1161,1477968693,1477969854,3255,1
9,000f63bea1c5b36b439d6fa60ee6cac7,4,8240,4107,1477967652,1477975892,32364,1
9,000f63bea1c5b36b439d6fa60ee6cac7,7,9146,6883,1477992368,1478001514,36230,1
10,00116085b3abd9a855050bf411695811,3,5981,4021,1477999323,1478005304,34999,1
11,0011bb2466a9224d8a53b4b6cad3717a,2,1474,3808,1477966724,1477968198,18972,1
11,0011bb2466a9224d8a53b4b6cad3717a,3,6354,4969,1477993442,1477999796,18874,1
12,0012e784612e76e2fff36e9059798d15,1,3032,3032,1477961739,1477964771,13282,1
13,0015229ebd0336aae03e885ee02dad5d,4,5722,2856,1477952194,1477957916,21419,1
14,0016ddbb7e4e37009f66faad61d8ff09,6,17476,6817,1477998104,1478015580,34414,1
15,001822852346ebfd688d7789422631cf,17,31146,16076,1477957249,1477988395,117113,1
15,001822852346ebfd688d7789422631cf,2,2875,2325,1478001011,1478003886,19624,1
16,0019babdf9d5ea54aa3f08cc03a0cf71,2,4824,3889,1477964495,1477969319,19777,1
16,0019babdf9d5ea54aa3f08cc03a0cf71,4,8831,4443,1477976609,1477985440,31061,1
16,0019babdf9d5ea54aa3f08cc03a0cf71,4,8366,4610,1478004820,1478013186,22640,1
17,0019c21ff91b128994bfd79fec210dae,2,4687,3366,1477956689,1477961376,25721,1
17,0019c21ff91b128994bfd79fec210dae,5,11729,4751,1477977862,1477989591,24318,1
18,001bb6f9b0bd56fc669ebf2696cb1079,4,6826,2766,1478004832,1478011658,18392,1
19,001cd0f3067cbf5350d1ba26bee42f2a,1,1201,1201,1477965095,1477966296,7606,1
...,...,...,...,...,...,...,...,...
34909,ffe08c550b06b5e6909fcaf5c4fee8f6,2,3386,2080,1477957713,1477961099,15019,1
34909,ffe08c550b06b5e6909fcaf5c4fee8f6,2,4243,3683,1477996953,1478001196,30657,1
34910,ffe0beb28cd3549ddde3f97cec7a1edd,1,1752,1752,1477931481,1477933233,16292,1
34911,ffe271b16f8d51b303d1fbe31ecdd664,2,3845,2496,1477930091,1477933936,15932,1
34912,ffe4a1aa73ff29cdeba582591bb544c5,8,21984,7411,1477987158,1478009142,53104,1
34913,ffeb34c832cbd003be8400a8b8f7da28,1,1411,1411,1477964289,1477965700,9790,1
34914,ffec1de0771e9b9a2d136b87ad3b994d,2,4024,3734,1477962813,1477966837,24041,1
34914,ffec1de0771e9b9a2d136b87ad3b994d,1,544,544,1477991789,1477992333,4557,1
34914,ffec1de0771e9b9a2d136b87ad3b994d,2,2445,1916,1478006612,1478009057,21416,1
34915,ffede7738fb2bf36e8daf40a1debe71d,2,4288,3719,1477966706,1477970994,32302,1
34915,ffede7738fb2bf36e8daf40a1debe71d,3,7220,5486,1478001622,1478008842,31946,1
34916,fff1baaa934efe44b0e1841ece771615,10,35240,13206,1477965174,1478000414,71905,1
34917,fff3bb22cc4b065af2d3ed9b5eae5419,1,684,684,1477970621,1477971305,3939,1
34917,fff3bb22cc4b065af2d3ed9b5eae5419,5,14517,8311,1477979248,1477993765,41819,1
34918,fff4bbe359a9da89a377839b5f00c6c7,5,17068,4886,1477929984,1477947052,46603,1
34919,fff525adde680a0c9fd48154ffffdb40,2,3251,2874,1477957247,1477960498,20453,1
34919,fff525adde680a0c9fd48154ffffdb40,6,17651,8361,1477969954,1477987605,59842,1
34920,fff931e13aae74c18e2c7dd9c4646f7c,2,3482,3254,1477983801,1477987283,21203,1
34921,fff949f93ef2ae8639860300e8a35ac7,13,30631,14081,1477962830,1477993461,86573,1
34921,fff949f93ef2ae8639860300e8a35ac7,2,1912,2297,1478008441,1478010353,13733,1
34922,fffa4c9540aad0ad5d788a3a8e16bfa6,2,3253,3049,1477979737,1477982990,20692,1
34923,fffa4ce77757577271f84c11dd268da9,2,3490,3099,1477985387,1477988877,17383,1
34923,fffa4ce77757577271f84c11dd268da9,4,12222,5948,1477999010,1478011232,39952,1
34924,fffae1d5a2ca206c5e2c014287c63960,10,21725,9465,1477975418,1477997143,58324,1
34925,fffb1afe11b2cfd5336b222cdee022eb,6,7988,4848,1477986091,1477994079,24388,1
34926,fffc3f877cce16e491f68d69a2163998,1,1829,1829,1477966912,1477968741,8164,1
34927,fffd264654f1acaa393d36d8fb4d9795,4,11554,7059,1477962613,1477974167,50982,1
34927,fffd264654f1acaa393d36d8fb4d9795,7,23704,10601,1477990038,1478013742,58893,1
34928,ffffcac4300c1b86283d1f96054e070d,7,16658,10904,1477981936,1477998594,64597,1
34928,ffffcac4300c1b86283d1f96054e070d,4,9656,5442,1478006189,1478015845,30194,1

In [41]:
'''Gap Between two Shifts'''

Stat_Df=Stat_Df.sort_values(by=['Driver_id','Shift Start Time'])

Gap_Df=pd.DataFrame([])

Gap_Df['Shift Start Time']=Stat_Df.groupby('Driver_id').apply(lambda x: x['Shift Start Time'].to_list())

Gap_Df['Shift End Time']=Stat_Df.groupby('Driver_id').apply(lambda x: x['Shift End Time'].to_list())

Gap_Df['Driver_id']=Gap_Df.index

def Get_gap(Start,End):
    if len(Start)==1:
        return np.nan
    else:
        gap=list()
        for i in range(1,len(Start),1):
            gap.append(Start[i]-End[i-1])
        return np.array(gap).mean()/3600.0

Gap_Df['Gap Between Shifts']=Gap_Df.apply(lambda x:Get_gap(x['Shift Start Time'],x['Shift End Time']),axis=1)

Gap_Df = Gap_Df[['Driver_id','Gap Between Shifts']]

Gap_Df = Gap_Df.reset_index(drop=True)

Gap_Df


'''Total Number of Shifts'''

Sum_Df=Stat_Df.groupby('Driver_id').sum()

Sum_Df['Driver_id']=Sum_Df.index

Sum_Df=Sum_Df.rename(columns={'Shift':'Total Number of Shifts'})

Sum_Df=Sum_Df.reset_index(drop=True)

Sum_Df=Sum_Df[['Driver_id','Total Number of Shifts']]



'''Average Values'''

Avg_Df=Stat_Df.groupby('Driver_id').mean()

Avg_Df['Driver_id']=Avg_Df.index

Avg_Df=Avg_Df.rename(columns={'The number of Orders':'Average Order Number',\
                              'Shift Duration (sec)':'Average Shift Duration (sec)',\
                              'Occupied Time (sec)':'Average Occupied Time (sec)',\
                              'Occupied Distance (m)':'Average Occupied Distance (m)'})

Avg_Df=Avg_Df.reset_index(drop=True)


Avg_Df=Avg_Df[['Driver_id','Average Order Number','Average Shift Duration (sec)','Average Occupied Time (sec)','Average Occupied Distance (m)']]



'''First Shift Start Time'''


First_Df=Stat_Df.sort_values(by=['Driver_id','Shift Start Time'])

First_Df=First_Df.drop_duplicates(subset=['Driver_id'],keep='first')

First_Df=First_Df[['Driver_id','Shift Start Time']]

First_Df=First_Df.rename(columns={'Shift Start Time':'First Shift Start Time'})

First_Df=First_Df.reset_index(drop=True)

First_Df

'''Collection'''

'''Merge'''

df=Sum_Df.merge(Avg_Df,on='Driver_id')

df=df.merge(First_Df,on='Driver_id')

df=df.merge(Gap_Df,on='Driver_id')

df=df[['Driver_id',\
       'Total Number of Shifts',\
       'Average Order Number',\
       'Average Shift Duration (sec)',\
       'Average Occupied Time (sec)',\
       'First Shift Start Time',\
       'Average Occupied Distance (m)',\
       'Gap Between Shifts']]

df

,Driver_id,Total Number of Shifts,Average Order Number,Average Shift Duration (sec),Average Occupied Time (sec),First Shift Start Time,Average Occupied Distance (m),Gap Between Shifts
0,0000131d486b69eb77ab6e9e7cca9f4c,1,2.000000,3119.000000,1932.000000,1477972625,13808.000000,NaN
1,000211a97ba2b768ef941593bf1ae1a5,2,2.500000,3608.500000,4710.500000,1477963781,23142.000000,10.352222
2,000770ada4aa5d856b5a766fb6bf7cf1,1,5.000000,11649.000000,5274.000000,1477962292,31479.000000,NaN
3,0007a380800445346fff19afc4071ce3,1,1.000000,1419.000000,1419.000000,1477963840,6544.000000,NaN
4,0008c9d2ac91c00ef8b3ef80eba02a06,3,2.666667,6323.333333,2855.333333,1477967006,20715.333333,4.233194
5,00095da02ea38d4d8eaa120201e38ae9,1,1.000000,1522.000000,1522.000000,1477965144,6060.000000,NaN
6,000d0e4bd461b1f964daeb6d21868757,1,5.000000,7148.000000,5668.000000,1477940181,58447.000000,NaN
7,000d7d7fe559c61e98d0a51e23e69bf7,2,3.500000,8173.000000,4854.000000,1477966852,31157.500000,5.096944
8,000db06fb2f4a700c4105348643f593e,1,1.000000,1161.000000,1161.000000,1477968693,3255.000000,NaN
9,000f63bea1c5b36b439d6fa60ee6cac7,2,5.500000,8693.000000,5495.000000,1477967652,34297.000000,4.576667
10,00116085b3abd9a855050bf411695811,1,3.000000,5981.000000,4021.000000,1477999323,34999.000000,NaN
11,0011bb2466a9224d8a53b4b6cad3717a,2,2.500000,3914.000000,4388.500000,1477966724,18923.000000,7.012222
12,0012e784612e76e2fff36e9059798d15,1,1.000000,3032.000000,3032.000000,1477961739,13282.000000,NaN
13,0015229ebd0336aae03e885ee02dad5d,1,4.000000,5722.000000,2856.000000,1477952194,21419.000000,NaN
14,0016ddbb7e4e37009f66faad61d8ff09,1,6.000000,17476.000000,6817.000000,1477998104,34414.000000,NaN
15,001822852346ebfd688d7789422631cf,2,9.500000,17010.500000,9200.500000,1477957249,68368.500000,3.504444
16,0019babdf9d5ea54aa3f08cc03a0cf71,3,3.333333,7340.333333,4314.000000,1477964495,24492.666667,3.704167
17,0019c21ff91b128994bfd79fec210dae,2,3.500000,8208.000000,4058.500000,1477956689,25019.500000,4.579444
18,001bb6f9b0bd56fc669ebf2696cb1079,1,4.000000,6826.000000,2766.000000,1478004832,18392.000000,NaN
19,001cd0f3067cbf5350d1ba26bee42f2a,1,1.000000,1201.000000,1201.000000,1477965095,7606.000000,NaN
20,00243055a2fa590095c000bed9ae6e52,1,3.000000,7539.000000,5651.000000,1477964378,36474.000000,NaN
21,00253ffad256a08d8274bbdd9af0a480,2,2.500000,4373.500000,3193.500000,1477991989,21912.500000,2.833611
22,0025f14ac4a03ecfd2f383dc58a95b6f,2,5.000000,8065.500000,6117.500000,1477969990,43120.500000,3.304722
23,00293a32d4a94b3ce8cc92f6e83842ff,2,9.500000,15518.500000,12593.500000,1477963930,75482.000000,5.458333
24,002deb6af659241e374ef87974218569,2,8.500000,13385.500000,8717.000000,1477960440,50244.000000,4.885556
25,002ecfa3cc103f128de489395e905fc5,2,4.000000,8292.500000,5391.500000,1477970747,34065.000000,6.358889
26,003135422b7425eaa46aec4aaa3a4f22,2,6.000000,17848.000000,9604.500000,1477967173,55518.000000,2.506944
27,0032701eda9e498663e68550c618cc32,1,2.000000,1747.000000,1477.000000,1477960189,8338.000000,NaN
28,00357c841c3fd217e6d575deb69900c2,1,4.000000,7372.000000,3626.000000,1477955002,17491.000000,NaN
29,003690336e0e155c7ba914caa603d348,1,5.000000,7778.000000,4269.000000,1478004287,32325.000000,NaN
...,...,...,...,...,...,...,...,...
34899,ffcfc5207e51db80e005e7d98e47fbe7,2,2.000000,5798.500000,3066.000000,1477958431,21473.000000,4.704722
34900,ffcff06bad967f309276c527c51f5d8e,1,1.000000,1113.000000,1113.000000,1477930447,8347.000000,NaN
34901,ffd0c181ef164e4f1672c2e00fadbb68,1,2.000000,6464.000000,2457.000000,1477957078,14203.000000,NaN
34902,ffd628654726b7eb20d0c208217ff484,2,1.500000,1565.000000,1407.000000,1477990826,7627.500000,5.532222
34903,ffd6b480c8ba024b2e0036adf9a33989,1,1.000000,1075.000000,1075.000000,1477999100,3815.000000,NaN
34904,ffd8e70ede76f4e5ac6935afda500e77,1,3.000000,10067.000000,4908.000000,1477963355,37025.000000,NaN
34905,ffda8c2446a0a1045a83db8bf17f6e6f,2,6.000000,12234.500000,7431.000000,1477956007,57536.000000,4.881111
34906,ffdb7b7624f70ee284b7341eb234cdaf,1,2.000000,1993.000000,1670.000000,1477966879,14858.000000,NaN
34907,ffdc446be87bca34541f599cf4d2aad8,1,1.000000,1684.000000,1684.000000,1477988505,5733.000000,NaN
34908,ffdc45b5e3b059e8859cef73ae9d72a0,2,1.500000,1869.500000,1720.500000,1477964998,9322.000000,6.068056
34909,ffe08c550b06b5e6909fcaf5c4fee8f6,2,2.000000,3814.500000,2881.500000,1477957713,22838.000000,9.959444
34910,ffe0beb28cd3549ddde3f97cec7a1edd,1,1.000000,1752.000000,1752.000000,1477931481,16292.000000,NaN
34911,ffe271b16f8d51b303d1fbe31ecdd664,1,2.000000,3845.000000,2496.000000,1477930091,15932.000000,NaN
34912,ffe4a1aa73ff29cdeba582591bb544c5,1,8.000000,21984.000000,7411.000000,1477987158,53104.000000,NaN
34913,ffeb34c832cbd003be8400a8b8f7da28,1,1.000000,1411.000000,1411.000000,1477964289,9790.000000,NaN
34914,ffec1de0771e9b9a2d136b87ad3b994d,3,1.666667,2337.666667,2064.666667,1477962813,16671.333333,5.448750
34915,ffede7738fb2bf36e8daf40a1debe71d,2,2.500000,5754.000000,4602.500000,1477966706,32124.000000,8.507778
34916,fff1baaa934efe44b0e1841ece771615,1,10.000000,35240.000000,13206.000000,1477965174,71905.000000,NaN
34917,fff3bb22cc4b065af2d3ed9b5eae5419,2,3.000000,7600.500000,4497.500000,1477970621,22879.000000,2.206389
34918,fff4bbe359a9da89a377839b5f00c6c7,1,5.000000,17068.000000,4886.000000,1477929984,46603.000000,NaN
34919,fff525adde680a0c9fd48154ffffdb40,2,4.000000,10451.000000,5617.500000,1477957247,40147.500000,2.626667
34920,fff931e13aae74c18e2c7dd9c4646f7c,1,2.000000,3482.000000,3254.000000,1477983801,21203.000000,NaN
34921,fff949f93ef2ae8639860300e8a35ac7,2,7.500000,16271.500000,8189.000000,1477962830,50153.000000,4.161111
34922,fffa4c9540aad0ad5d788a3a8e16bfa6,1,2.000000,3253.000000,3049.000000,1477979737,20692.000000,NaN
34923,fffa4ce77757577271f84c11dd268da9,2,3.000000,7856.000000,4523.500000,1477985387,28667.500000,2.814722
34924,fffae1d5a2ca206c5e2c014287c63960,1,10.000000,21725.000000,9465.000000,1477975418,58324.000000,NaN
34925,fffb1afe11b2cfd5336b222cdee022eb,1,6.000000,7988.000000,4848.000000,1477986091,24388.000000,NaN
34926,fffc3f877cce16e491f68d69a2163998,1,1.000000,1829.000000,1829.000000,1477966912,8164.000000,NaN
34927,fffd264654f1acaa393d36d8fb4d9795,2,5.500000,17629.000000,8830.000000,1477962613,54937.500000,4.408611
34928,ffffcac4300c1b86283d1f96054e070d,2,5.500000,13157.000000,8173.000000,1477981936,47395.500000,2.109722